:host {
	flex-grow: 1; /* Keep equal distance each other cricle component */
	text-align: center;
	margin: 0.3rem;
}

.content {
	border-radius: 50%; /* Make Circle */
	border: 1px solid grey; /* Draw Circle */
	width: 45px;
	height: 45px;
	display: inline-block;
	display: flex; /* Centering the Smiley */
}

.icon {
	margin: auto; /* Centering the Smiley*/
	font-size: 25px;
}
