div {
	display: inline-block;
	vertical-align: top;
	margin: 3rem;
	padding: 1rem;
	font-family: sans-serif;
	color: white;
	text-align: center;
	border-radius: 0.3rem;
}

.shake1 {
	width: 10rem;
	height: 10rem;
	background: rgb(53, 52, 52);
}
